:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--orange-fondo);

  --orange: #f5842b;
  --blue: #66c5bd;
  --orange-fondo: #f1d5b6;
  --yellow: #f6ce5b;
  --purple: #bcbefa;
  --light-color: #f8f9fa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* codi de la font */
/* .rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
} */


.custom-title {
  font-size: 4rem;
  background: linear-gradient(90deg, var(--orange), var(--blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-item-text {
  color: var(--orange)  !important;
}